<form action='/signup' method='POST'>
  <label for='input-username'>Username</label>
  <input
    type='text'
    id='input-username'
    name='username'
    placeholder='Username'
    required='required'
  />

  <label for='input-password'>Password</label>
  <input
    type='password'
    id='input-password'
    name='password'
    placeholder='A safe password'
    required='required'
  />

  <button>Sign up</button>
</form>